#footer
  .container_25
    .grid_25 
      %p.copy &copy; 2013 75ms.com | All rights reserved.
      %ul.links
        %li
          %a{:href => '#'} 关于
        %li
          %a{:href => '#'} 联系我们
= javascript_include_tag "application"
