#nav
  .container_25
    .grid_25
      %ul.menu
        %li
          %a{:href => '#'} 首页
        %li.dropdown
          %a{:href => '#'} 分类
          %ul.sub-menu
            %li
              %a{:href => '#'} 巧克力
            %li
              %a{:href => '#'} 坚果
        %li
          %a{:href => '#'} 品牌
