/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require reset
 *= require grid
 *= require text
 */

body{
font-family: 微软雅黑, Verdana, sans-serif, 宋体;
background-image: url(bg.png);
}

/* nav start */
#nav{
width:100%;
height:30px;
background-color:#15a230;
}

#nav ul.menu li{
float:left;
padding:0 10px;
list-style:none;
margin:0px;
}

#nav ul.menu li a{
line-height:30px;
color:white;
text-decoration:none;
}

#nav ul.menu li a:hover{
color:#eee;
}

#nav ul.menu li.dropdown{
background:url('down3.gif') no-repeat right 14px;
}

#nav ul.menu ul.sub-menu{
position:absolute;
margin-top:-3px;
margin-left:0px;
overflow: hidden;
border:1px solid #15a230;
border-top:none;
display:none;
}

#nav ul.menu ul.sub-menu li{
clear:both;
display:block;
line-height:3px;
margin:0px;
width:80px;
background-color:#fff;
}

#nav ul.menu ul.sub-menu li:hover{
background-color:#15a230;
}

#nav ul.menu ul.sub-menu li a{
color:#15a230;
padding:0 5px;
}

#nav ul.menu ul.sub-menu li:hover a{
color:#fff;
}

/* nav end */


/* body start */
#body{
margin-top:10px;
min-height:600px; 
height:auto !important; 
height:600px; 
overflow:visible;
}
/* body end */


/* search start */
#search{
margin-top:100px;
}

#search .logo{
font-size:64px;
font-family: 'Keania One'
}

#search .logo .desc{
font-size:14px;
background-color:#15a230;
color:#fff;
}

#search input{
width:400px;
height:48px;
font-size:32px;
font-weight:bold;
color:#15a230;
padding:3px;
float:left;
margin:0px;
padding:0px;
border:1px solid #15a230;
}

#search button{
height:50px;
line-height:48px;
width:120px;
border:1px solid #15a230;
background-color:#15a230;
cursor:pointer;
font-size:24px;
color:#fff;
}

#search button:hover{
color:#eee;
background-color:#35a622;
}

#advanced_search{
padding: 5px 0 15px 0;
margin: 0 0 0 0;
min-height:50px; 
height:auto !important; 
height:50px; 
overflow:visible;
}

#advanced_search .form{
margin-top:15px;
}

#advanced_search input{
width:300px;
height:24px;
font-size:16px;
font-weight:bold;
color:#15a230;
padding:3px;
float:left;
margin:0px;
padding:0px;
border:1px solid #15a230;
}

#advanced_search button{
height:26px;
line-height:24px;
width:60px;
border:1px solid #15a230;
background-color:#15a230;
cursor:pointer;
font-size:12px;
color:#fff;
}

#advanced_search .logo{
font-size:36px;
font-family: 'Keania One';
}

#advanced_search .filter{
height:80px;
margin-top:20px;
}

#advanced_search .filter table{
}

#advanced_search .filter table tr{
height:30px;
}

#advanced_search .filter table th{
text-align:center;
width:60px;
border-bottom:1px dashed #efefef;
}
#advanced_search .filter table td{
width:900px;
padding:5px;
border-bottom:1px dashed #efefef;
}

#advanced_search .filter table td a{
text-decoration:none;
color:#15a230;
padding:0 5px;
}

#advanced_search .filter table td a:hover{
color:#fff;
background-color:#15a230;
}

#search_result{
height:800px;
margin-top:10px;
}

#search_result .item{
float:left;
margin-bottom:20px;
}

#search_result .header{
margin-bottom:20px;
color:#999;
padding:0 5px;
}

#search_result .item img{
float:left;
}
#search_result .item .info{
margin:0 20px;
float:left;
}
#search_result .item .info p{
margin:5px;
color:#707070;
}

#search_result .item .info p.title a{
/*color:##3E62A6;*/
color:#3E62A6;
}

#search_result .item .info p.title a:hover{
color:#c00;
}

#search_result .item .info p.sold span{
color:#ee5239;
font-size:14px;
font-weight:bold;
}

#search_result .item .info p.deadline span{
color:#ee5239;
font-size:14px;
font-weight:bold;
}

#search_result .item .info p.links a{
padding:0 3px;
}

#search_result .item .price{
float:right;
font-size:16px;
font-weight:bold;
color:#f60;
}

#search_result .item .price p.old_price{
text-decoration: line-through;
font-size:12px;
font-weight:bold;
color:#333;
}



/* search end */

/* footer start */
#footer{
width:100%;
height:200px;
border-top:1px solid #eee;
margin-top:10px;
}
#footer p{
float:right;
padding:5px 10px;
color:#444;
}
#footer ul.links{
float:right;
}
#footer ul.links li{
float:left;
list-style:none;
margin:0px;
padding:5px 10px;
}
#footer ul.links li a{
text-decoration:none;
color:#15a230;
}
/* footer end*/
